<style>
for some reason there has to be an extra line here {}

    .button {
        background-color: lightgrey;
        border: solid;
        border-width: 1px;
        border-radius: 3px;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button:hover { background-color: grey; }

    #banner { width: 800px; height: 115px; }
    #download { float: right;  width: 25px; height: 28px; }
    #shebanq { float: right;  margin-right: 10px; width: 25px; height: 30px; }
    #ubs { float: right;  margin-right: 10px; width: 30px; height: 25px; }

    @font-face {
    	src: url('../fonts/SILEOT.eot'); /* IE9 Compat Modes */
    	src: url('../fonts/SILEOT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	     url('../fonts/SILEOT.woff') format('woff'), /* Modern Browsers */
    	     url('../fonts/SILEOT.ttf')  format('truetype'); /* Safari, Android, iOS */
    }

    @font-face {
    	font-family: "SBL Hebrew";
    	src: url('../fonts/SBL_Hbrw.eot'); /* IE9 Compat Modes */
    	src: url('../fonts/SBL_Hbrw.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	     url('../fonts/SBL_Hbrw.woff') format('woff'), /* Modern Browsers */
    	     url('../fonts/SBL_Hbrw.ttf')  format('truetype'); /* Safari, Android, iOS */
    }
    div { font-family: "Ezra SIL", "SBL Hebrew", "Montserrat"; }

</style>
